<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/add}" th:object="${user}">

    <label for="firstName">Firstname</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div style="color: chartreuse" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FN</div>
    <br>
    <label for="lastName">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: chartreuse" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LN</div>
    <br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: chartreuse" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">AG</div>
    <br>
    <button style="color: darkblue" type="submit">Create!</button>
</form>

</body>
</html>