<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h2>All users</h2>
    <div>
        <table border="1">
            <tr style="color: darkmagenta">
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>

            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId}">Id</td>
                <td th:text="${user.getFirstName()}">Firstname</td>
                <td th:text="${user.getLastName()}">Lastname</td>
                <td th:text="${user.getAge()}">Age</td>
                <br>
                <td>
                    <a th:href="@{/update/{id}(id=${user.getId()})}">Edit</a>
                </td>
                <br>
                <td>
                    <form th:method="DELETE" th:action="@{/delete/{id}(id=${user.getId})}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </table>
        <form th:action="@{/addform}" th:method="GET">
            <button type="submit">Add new user</button>
        </form>
    </div>

</body>
</html>